/******lab*********/

.lab {
	color: #989c9b;
	display: flex;
	flex-direction: row-reverse;
	padding-bottom: 10px;
	border-bottom: 1px solid #343944;
	margin-bottom: 25px;
	cursor: pointer;
}

.lab:hover {
	color: #d6dde9;
	transform: scale(1.01);
	transition: all 0.1s ease-in;
}

.lab:last-child {
	border-bottom: 1px solid transparent;
}

.lab .image {
	width: 200px;
	height: 112.5px;
	display: block;
}

.lab .detail {
	flex: 1;
	padding-right: 10px;
	display: block;
}

.lab .date {
	font-size: 12px;
	float: right;
	color: #989c9b;
	font-weight: normal;
	font-style: italic;
	display: block;
	padding-top: 5px;
}

.lab .title {
	font-size: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #ffffff;
	display: block;
}

.lab .description {
	text-align: left;
	height: 80px;
	overflow: hidden;
	text-overflow: ellipsis;
}


@media (max-width: 480px) {
    .lab{
      display: block;
    }
  
    .lab .image{
      width: 100%;
      margin: 0 auto 10px auto;
      padding-top: 56.25%;
  
    }
  }
  