.container{
  max-width: 680px;
  margin: 0 auto;
}

.title{
  margin: 10px 0;
  line-height: 1.6em;
}

.date{
  color: #989c9b;
  font-style: italic;
}

.banner{
  display: block;
  margin: 20px 0;
}

.banner img{
  display: block;
  width: 100%;
}


.info{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.author{
  font-size: 18px;
  font-weight: bold;
}

.tags{
  display: flex;
  flex-wrap: wrap;
}

.tag{
  color:rgba(117, 117, 117, 1);
  background-color: rgba(242, 242, 242, 1);
  padding: 5px 10px;
  margin-bottom: 8px;
  margin-right: 8px;
}


/* Markdown Style */
.content{
  line-height: 1.6em;
}

.content h1{
  margin-top: 30px;
}

.content h2{
  margin-top: 30px;
}

.content code{
  background-color: rgba(242, 242, 242, 1);
  color: #000;
  padding: 2px 5px
}

.content pre{
  display: block;
  padding: 20px;
  background-color: rgba(242, 242, 242, 1);
  color: #000;
}
.content pre code{
  display: block;
  word-wrap: normal;
  overflow-x: scroll;
  white-space: pre-wrap;
  padding: 0px;
}

.content img{
  display: block;
  width: 100%;
}


/* @media (max-width: 960px)
{
  .title{
    font-size: 34px;
  }
}

@media (max-width: 640px)
{
  .title{
    font-size: 34px;
  }
} */